.rating-card {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px 20px;
    border-radius: 10px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
    
   
    
  }
  .text-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .text-primary {
    
    color: #be1adb !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .text-secondary {
    
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .rating-stars-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .star-label svg {
    fill: rgb(210, 210, 210);
    width: 40px;
    height: auto;
  }
  .rating-stars-container input {
    appearance: unset;
  }
  .rating-stars-container input:hover ~ .star-label svg {
    fill: rgb(255, 204, 185);
  }
  .rating-stars-container input:checked ~ .star-label svg {
    fill: rgb(47, 50, 255);
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-in-fwd-center {
    0% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .socials-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid rgb(150, 150, 150);
  }
  .social-button {
    text-decoration: none;
  }
  .social-button svg {
    width: 30px;
    fill:#be1adb;
  }
  .social-button:hover svg {
    fill: rgb(255, 102, 47);
  }
  
  .sc-fBdQPP.eLcQRf{
    top: 120px !important;
  }

  .ant-rate .ant-rate-star-second {
    color: #be1adb;
    width: 50%;
  }

  .ant-rate {
    font-size: 35px !important;
  }