
footer p {
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
footer a:hover {
    color: rgb(255, 255, 255);
}
footer a strong {
    font-size: 16px;
}
